<p><a routerLink="/admin/products/new" class="btn btn-primary">New Product</a></p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder='Serarch...'>
</p>
<!-- <table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="title" [header]="Title" [sortuble]="true" [ressizble]="true">
    </data-table-column>
</data-table> -->
<table class="table table-striped" [svData]="filteredProduct" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="title"
    svSortOrder="asc">
    <thead>
        <tr>
            <th></th>
            <th>
                <sv-default-sorter by="title">Title</sv-default-sorter>
            </th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of sv.data">
            <td></td>
            <td>{{p.title}}</td>
            <td>{{p.price | currency: 'USD':true}}</td>
            <td><a [routerLink]="['/admin/products/', p.$key]">Edit</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
            </td>
        </tr>
    </tfoot>
</table>